@{
    ViewData["Title"] = "Customer Type Form";
}

@model CustomerType

<div class="container mt-5">
    <div class="card shadow-lg p-5 rounded-lg border-0">
        <h3 class="card-header d-flex justify-content-between align-items-center">
            New Customer Type
            <a asp-controller="Tables" asp-action="CusType" class="btn btn-primary mb-2">Back To List</a>
            
        </h3>

       

        <form method="post" asp-action="CustomerType" asp-controller="FormLayouts">
            <!-- Ticket Details Section -->
            <div class="mt-4">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <label asp-for="Customtype" class="form-label font-weight-bold"></label>
                        <input type="text" asp-for="Customtype" class="form-control rounded-pill border-primary shadow-sm" id="ticketName" placeholder="Enter Customer Type">
                    </div>
                    <div class="col-md-6 mb-4">
                        <label asp-for="CustomDescription" class="form-label font-weight-bold"></label>
                        <input asp-for="CustomDescription" type="text" class="form-control rounded-pill border-primary shadow-sm" id="amount" placeholder="Enter Description">
                    </div>
                </div>

         

                <!-- Submit Button -->
                <div class="text-center mt-5">
                    <button type="submit" class="btn btn-primary mb-2">
                         Submit
                    </button>
                      <div class="text-center mt-5">
                        <button type="reset" class="btn btn-warning mb-2">
                           Reset 
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>
